:root {
  --AlmostWhite: hsl(0, 0%, 98%);
  --MediumGray: hsl(0, 0%, 41%);
  --AlmostBlack: hsl(0, 0%, 8%);
}

body {
  font-family: "Epilogue", sans-serif;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.img-desktop {
  display: none;
}
.cabecalho {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.logotipo-main {
  margin: 1.5em;
}
.desktop {
  display: none;
}
.account {
  display: block;
  box-sizing: border-box;
  color: var(--MediumGray);
  font-weight: 500;
  padding: 0;
  text-align: center;
  margin-top: 2em;
}

.account .account-btn {
  display: inline-block;
  width: 80%;
  padding: 0.6em 0.2em;
  border-radius: 1em;
  margin: 0 auto;
  transition: border 0.6s linear;
}

.account .account-btn:nth-child(2) {
  border: 1px solid var(--MediumGray);
}

.close-menu {
  display: block;
  position: absolute;
  right: 0;
  margin: 1.2em 1.5em;
}
.open-menu {
  height: 1em;
  margin: 1.5em;
}

.max-width {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 35%;
  height: 100%;
  left: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
#dropsmenu-mobile {
  visibility: hidden;
  opacity: 0;
  box-sizing: border-box;
  position: fixed;
  background-color: var(--AlmostWhite);
  height: 100%;
  width: 65%;
  right: 0;
  padding: 0;
  overflow: auto;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

ul a {
  text-decoration: none;
  font-weight: 600;
  color: var(--MediumGray);
  cursor: pointer;
}

#dropsmenu-mobile #featurebtn {
  margin-top: 4em;
}

#featurebtn .arrow-down {
  position: absolute;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0.5em;
}

#drop-feature {
  margin: 0 0 0 -2em;
}

#companybtn .arrow-down {
  position: absolute;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0.5em;
}
#dropsmenu-mobile .dropbtn {
  margin: 1em 0 0 2em;
  font-weight: 600;
  cursor: pointer;
}
#dropsmenu-mobile .drop-menu-content {
  margin: 1em 0 0 1em;
  font-weight: 600;
}

#dropsmenu-mobile li {
  color: var(--MediumGray);
  font-weight: 500;
  margin: 1em 0 0 0em;
}
main .title-main {
  font-size: 2.2em;
  margin: 1em 0;
  text-align: center;
}

main .paragraph-main {
  margin: 0 0.2em;
  color: var(--MediumGray);
  text-align: center;
  font-size: 1.05em;
}

main .btn-main {
  display: block;
  text-decoration: none;
  background: var(--AlmostBlack);
  padding: 1em 1.5em;
  border-radius: 0.8em;
  color: var(--AlmostWhite);
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  width: 50%;
  margin: 2em auto 0;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10em;
}

footer img {
  display: inline-block;
  margin: 1em 0.5em 0.5em;
  max-height: 1.25em;
  max-width: 4.4em;
}

footer .patrocinadores {
  margin: 1.5em 0;
}

ul li {
  list-style: none;
}

#drop-feature {
  display: none;
}

#drop-feature .drop-menu-content:nth-child(1)::before {
  content: url(../images/icon-todo.svg);
  margin-right: 1em;
}
#drop-feature .drop-menu-content:nth-child(2)::before {
  content: url(../images/icon-calendar.svg);
  margin-right: 1em;
}
#drop-feature .drop-menu-content:nth-child(3)::before {
  content: url(../images/icon-reminders.svg);
  margin-right: 1em;
}
#drop-feature .drop-menu-content:nth-child(4)::before {
  content: url(../images/icon-planning.svg);
  margin-right: 1em;
}

#drop-company {
  display: none;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media screen and (min-width: 750px) {
  .img-mobile {
    margin: 0 auto;
  }
  footer img {
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    overflow: hidden;
  }
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: inline-block;
    width: 25em;
    height: 33em;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5em 6em 0 0;
  }
  #dropsmenu-mobile {
    display: none;
  }
  #menu-o {
    display: none;
  }
  main {
    max-width: 50%;
    margin-left: 10em;
    box-sizing: border-box;
  }
  main .title-main {
    font-size: 4.5em;
    word-wrap: break-word;
    text-align: left;
    line-height: 1em;
    margin-bottom: 0.5em;
    margin-top: 1.7em;
  }
  main span {
    display: inline-block;
  }
  main .paragraph-main {
    width: 25em;
    text-align: left;
    margin: -1em 0 0 0;
  }
  main .btn-main {
    display: block;
    width: 30%;
    margin: 2.3em 0 0;
    padding: 0.9em;
    border: 1px solid var(--AlmostBlack);
  }
  main .btn-main:hover {
    background-color: var(--AlmostWhite);
    color: var(--AlmostBlack);
    transition: ease-in-out 0.5s;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    max-width: 78%;
    margin: 0 auto;
  }

  footer img {
    display: inline-block;
    margin: 1em 0.5em 0.5em;
    max-height: 100%;
    max-width: 6em;
  }

  footer .patrocinadores {
    margin: 1.5em 0;
  }

  .desktop {
    width: 100%;
    margin: 1.2em 0 0 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3em;
    box-sizing: border-box;
    cursor: default;
  }
  ul a {
    font-weight: normal;
  }
  .desktop li {
    cursor: pointer;
  }

  .account-desktop {
    display: flex;
    width: 100%;
    gap: 1em;
    justify-content: right;
    margin: 0 1em 0 0;
  }
  .account-desktop .account-btn-desktop:nth-child(1) {
    padding: 0.4em 1em;
  }
  .account-desktop .account-btn-desktop:nth-child(2) {
    box-sizing: border-box;
    border: 1.9px solid var(--MediumGray);
    padding: 0.4em 1em;
    border-radius: 1em;
  }
  .desktop .dropbtn.menu {
    color: var(--MediumGray);
  }
  .drop-menu-desktop-feature li {
    margin-left: 1.6em;
    margin-top: 0.6em;
  }
  .drop-menu-desktop-feature {
    opacity: 0;
    visibility: hidden;
    cursor: default;
    position: absolute;
    left: 6em;
    top: 3.3em;
    padding: 0;
    border-radius: 0.3em;
    height: 140px;
    width: 160px;
    background: var(--AlmostWhite);
    -webkit-box-shadow: -2px 2px 29px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -2px 2px 29px 5px rgba(0, 0, 0, 0.15);
    box-shadow: -2px 2px 29px 5px rgba(0, 0, 0, 0.15);
    transition: ease-in-out 0.3s;
  }
  .drop-menu-desktop-feature .drop-menu-content:nth-child(1):before {
    content: url(../images/icon-todo.svg);
    margin-right: 1em;
  }
  .drop-menu-desktop-feature .drop-menu-content a:hover,
  .drop-menu-desktop-company .drop-menu-content a:hover {
    color: var(--AlmostBlack);
    transition: ease 0.1s;
  }
  .dropbtn-desktop a:hover,
  .account-desktop li a:hover {
    color: var(--AlmostBlack);
    transition: ease 0.5s;
  }
  .desktop .dropbtn.menu span:hover {
    color: var(--AlmostBlack);
    transition: ease 0.5s;
  }
  .account-btn-desktop:nth-child(2):hover {
    border: 1.9px solid var(--AlmostBlack);
    transition: all ease 0.5s;
  }
  .drop-menu-desktop-feature .drop-menu-content:nth-child(2):before {
    content: url(../images/icon-calendar.svg);
    margin-right: 1em;
  }
  .drop-menu-desktop-feature .drop-menu-content:nth-child(3):before {
    content: url(../images/icon-reminders.svg);
    margin-right: 1em;
  }
  .drop-menu-desktop-feature .drop-menu-content:nth-child(4):before {
    content: url(../images/icon-planning.svg);
    margin-right: 1em;
  }
  .drop-menu-desktop-company {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    cursor: default;
    top: 3.3em;
    left: 18em;
    padding: 0;
    border-radius: 0.3em;
    height: 110px;
    width: 120px;
    background: var(--AlmostWhite);
    -webkit-box-shadow: -2px 2px 29px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -2px 2px 29px 5px rgba(0, 0, 0, 0.15);
    box-shadow: -2px 2px 29px 5px rgba(0, 0, 0, 0.15);
    transition: ease-in-out 0.3s;
  }
  .drop-menu-desktop-company li {
    margin-left: 1.6em;
    margin-top: 0.6em;
  }
}
